*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  border-width:1px;
}

html{
  font-size:var(--rem);
}

body{
  line-height: normal;
}

h1,h2,h3,h4,h5,h6{
  font-weight: inherit;
  font-size:inherit;
}

a,a:link,a:visited{
  color:inherit;
}